body{
    background-color: rgb(45,47,51);
}
.heading{
   color:white; 
    
}
.post-title{
    padding-top:10px;
}

.description{
    padding: 10px;
    padding-left: 0px;
}

.post{
    background-color: white;
    border: 1px solid black;
    margin: 5px;
}